* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top, #000033 0%, #080808 100%);
  color: white;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-style: italic;
}
nav {
  position: relative;
  background-color: transparent;
  overflow: hidden;
  font-family: Arial, Helvetica ,sans-serif;
  font-style: italic;
  margin: 1rem;
  padding: 0.25rem;
}
nav a {
  float: none;
  color: white;
  font-size: 1.125rem;
  background-color: #708090;
  padding: 2rem;
  border: 2px solid white;
}
h1 {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 3rem;
  line-height: 0.5rem;
}
h2, h3, h4, h5, h6 {
  font-family: 'News Cycle', sans-serif;
  font-style: normal;
  font-weight: 700;
}
h3.background-info {
  position: relative;
  float: left;
  padding: 0rem;
  margin: 0rem;
}
.my-story {
  background-color: transparent;
  height: 20rem;
  width: 40%;
  padding: 2rem;
  float: right;
  position: relative;
  text-align: center;
  margin: 1rem;
}
.my-story p {
  overflow: auto;
  text-align: left;
  position: relative;
  float: right;
}
h3.journey {
  position: relative;
  padding: 0rem;
  margin: 0rem;
  text-align: left;
}
.goals {
  background-color: transparent;
  height: 22rem;
  width: 55%;
  padding: 2rem;
  clear: right;
  position: relative;
  margin: 1rem;
}
.goals p {
  width: 100%;
  text-align: left;
  margin: auto;
}
aside {
  clear: both;
  margin: 1rem;
}
.headshot {
  width: 30%;
  transform: rotate(-15deg);
}
.profile {
  padding: 2rem;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, white,rgba(0, 0, 0, 0)) 1 100%;
  border-radius: 17%;
}
footer {
  position: relative;
  margin: 2rem;
}
.project-list {
  height: 20rem;
  list-style-type: none;
  margin-bottom: 20rem;
}

.project-list li {
  float:left;
  padding-left: 2rem;
  margin: 1rem;
}
section ul li img {
  border-radius: 25%;
}

article figure img {
  border-radius: 10%;
}
